* {
    /* This makes all elements width and height be inclusive of their margin and padding */
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #65849e;
    font-family: 'K2D', sans-serif;
}
.container{
    margin: 0 auto;
    width: 75%;
    height: 100%;
}
/* header styling */
header{
    background: #234968;
    height: 100px;
}
#header-content{
    display: flex;
}
#img-container{
    width: 70%;
}
#logo{
    height: 100px;
    width: 200px;
    padding-left: 40px;
}
header nav{
    margin: auto;
}
header nav ul{
    padding: 0;
    /* float: right; */
}
header nav ul li{
    list-style: none;
    display: inline-block;
    margin: 3px;
    padding: 3px;
    background: white;
    padding-top: 10px;
}
header nav ul li:hover{
    background: #65849e;
}
/* body styling */
main{
    height: 600px;
    color: white;
    font-size: 1.7vmax;
}
.table-holder{
    overflow-y: scroll;
    height: 500px;
}
.sales{
    width: 900px;
    /* margin: auto; */
    margin-top: 20px;
    margin-left: 100px; 
}
table, th, td{
    border: 2px solid #234968;
    border-collapse: collapse;
}
th, td{
    width: 180px;
}
th{
    height: 50px;
}
td{
    text-align: center;
}
.sales .delete{
    width: 60px;
    background: red;
}
.container .purchase{
    width: 100px;
    background: green;
    margin-left: 690px;
}
.container .back{
    width: 100px;
    background: #234968;
    margin-left: 100px;
}
/* footer styling */
footer{
    background: #234968;
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
}
footer .container{
    text-align: center;
}
footer ul{
    align-items: center;
    width: 100%;
    padding: 0;
    height: 50%;
}
footer ul li{
    list-style: none;
    display: inline;
}
/* styling for the font awesome icons in the footer*/
.fa{
 width: 25px;
 padding: 5px;
 margin: 3px;
 text-align: center;
 text-decoration: none;
}
.fa:hover{
    opacity: 0.4;
}
.fa-facebook{
    background: #3B5998;
    color: white;
    border-radius: 50%;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
    border-radius: 50%;
}
.fa-slack{
    background: #151433;
    color: white;
    border-radius: 50%;
}
.fa-skype{
    background: #00aff0;
    color: white;
    border-radius: 50%;
}