<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=K2D">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>admin</title>
</head>
<body>
    <header>
        <div id="header-content" class="container">
            <div id="img-container"><img id="logo" src="../static/img/logo.png" alt="logo"></div>
            <nav>
                <ul>
                        <li id="home"><a href="admin.html"><img src="../static/img/home.png" alt="home"></a></li>
                        <li id="profile"><a href="attendant_profile.html"><img src="../static/img/profile.png" alt="profile"></a></li>
                        <li id="info"><a href="info.html"><img src="../static/img/info.png" alt="info"></a></li>
                        <li id="logout"><a href="login.html"><img src="../static/img/logout.png" alt="logout"></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="close_nav()">&times;</a>
            <a href="all_sales.html">All sales</a>
            <a href="inventory.html">Inventory</a>
            <a href="new_attendant.html"><span class="fa fa-plus"></span>attendant</a>
            <a href="new_product.html"><span class="fa fa-plus"></span>product</a>
    </div>
    <div id="toolbar" class="container">
        <span class="toggle" onclick="open_nav()">&#9776; Menu</span>
        <form class="search">
            <input type="text" placeholder="search">
            <button type="submit"><span class="fa fa-search"></span></button>
        </form>    
    </div>
    <main>
        <div class="container">
            <div class="holder">
                <div class="employee">
                    <img src="https://images.unsplash.com/photo-1535965260353-e5614814ff1f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8d6df0f5bc70da32d94b5ad63360ab69&auto=format&fit=crop&w=1050&q=80" alt="lady1" width="40%">
                    <table>
                        <tr>
                            <th>employee_ID:</th>
                            <td>0001</td>
                        </tr>
                        <tr>
                            <th>employee_name:</th>
                            <td>Anne Marie</td>
                        </tr>
                        <tr>
                            <th>Role:</th>
                            <td>Admin</td>
                        </tr>
                        <tr>
                            <th>sales report:</th>
                            <td><a href="">Open</a></td>
                        </tr>
                        <tr>
                            <th>Delete Employee</th>
                            <td>
                                <button class="delete"><span class="fa fa-trash"></span></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="employee">
                    <img src="https://images.unsplash.com/photo-1538004875862-6c37caafbb38?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dc5e19a23445031dfef4268ab0910f1a&auto=format&fit=crop&w=1050&q=80" alt="lady2" width="40%">
                    <table>
                            <tr>
                                <th>employee_ID:</th>
                                <td>0002</td>
                            </tr>
                            <tr>
                                <th>employee_name:</th>
                                <td>Claire Andrea</td>
                            </tr>
                            <tr>
                                <th>Role:</th>
                                <td>Attendant</td>
                            </tr>
                            <tr>
                                <th>sales report:</th>
                                <td><a href="">Open</a></td>
                            </tr>
                            <tr>
                                <th>Delete Employee</th>
                                <td>
                                    <button class="delete"><span class="fa fa-trash"></span></button>
                                </td>
                            </tr>
                        </table>
                </div>
                <div class="employee">
                    <img src="https://images.unsplash.com/photo-1535638990993-5ad1c21631c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0352bc9fdf568fdd7992ec8b8ea51d3e&auto=format&fit=crop&w=1050&q=80" alt="lady3" width="40%">
                    <table>
                            <tr>
                                <th>employee_ID:</th>
                                <td>0003</td>
                            </tr>
                            <tr>
                                <th>employee_name:</th>
                                <td>Morgana le Fey</td>
                            </tr>
                            <tr>
                                <th>Role:</th>
                                <td>Attendant</td>
                            </tr>
                            <tr>
                                <th>sales report:</th>
                                <td><a href="">Open</a></td>
                            </tr>
                            <tr>
                                <th>Delete Employee</th>
                                <td>
                                    <button class="delete"><span class="fa fa-trash"></span></button>
                                </td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div>
                <p id="copy">&copy 2018 - <cite><em>powered by mufasaCo.</em></cite></p>
                <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-slack"></a></li>
                    <li><a href="#" class="fa fa-skype"></a></li>
                </ul>
            </div>
    </div>
    </footer>
    <script src="../static/custom.js"></script>
</body>
</html>
