<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=K2D">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>profile</title>
</head>
<body>
    <header>
        <div id="header-content" class="container">
            <div id="img-container"><img id="logo" src="../static/img/logo.png" alt="logo"></div>
            <nav>
                <ul>
                        <li id="home"><a href="index.html"><img src="../static/img/home.png" alt="home"></a></li>
                        <li id="profile"><a href="attendant_profile.html"><img src="../static/img/profile.png" alt="profile"></a></li>
                        <li id="info"><a href="info.html"><img src="../static/img/info.png" alt="info"></a></li>
                        <li id="logout"><a href="login.html"><img src="../static/img/logout.png" alt="logout"></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="profile">
                <img src="https://images.unsplash.com/photo-1501088430049-71c79fa3283e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=759341d80e0a87a59c8ec6d491dfe449&auto=format&fit=crop&w=634&q=80" alt="pretty" width="30%;">
                <table>
                    <tr>
                        <th>Name:</th>
                        <td>Anne Marie</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>anne@email.com</td>
                    </tr>
                    <tr>
                        <th>ID_No:</th>
                        <td>001</td>
                    </tr>
                    <tr>
                        <th>Role:</th>
                        <td>Attendant</td>
                    </tr>
                    <tr>
                        <th>Bio:</th>
                        <td>
                            Hey y'all. I am Maries. I am a dedicated entrepreneur working as a sales attendant at a retail store.
                            I am passionate about science and technology, especially astronomy. 
                            I find the study of stars a journey into the unkown with a lesson in humilty on every turn.
                            If we seek a cosmic purpose, let us find ourselves a worthy goal.
                        </td>
                    </tr>
                    <tr>
                        <th>Sales:</th>
                        <td><a href="" class="link">Open</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div>
                <p id="copy">&copy 2018 - <cite><em>powered by mufasaCo.</em></cite></p>
                <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-slack"></a></li>
                    <li><a href="#" class="fa fa-skype"></a></li>
                </ul>
            </div>
    </div>
    </footer>
    <script src="../static/custom.js"></script>
</body>
</html>
