<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=K2D">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>add_attendant</title>
</head>
<body>
    <header>
        <div id="header-content" class="container">
            <div id="img-container"><img id="logo" src="../static/img/logo.png" alt="logo"></div>
            <nav>
                <ul>
                        <li id="home"><a href="#"><img src="../static/img/home.png" alt="home"></a></li>
                        <li id="profile"><a href="#"><img src="../static/img/profile.png" alt="profile"></a></li>
                        <li id="info"><a href="#"><img src="../static/img/info.png" alt="info"></a></li>
                        <li id="logout"><a href="#"><img src="../static/img/logout.png" alt="logout"></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="signup">
                <form action="">
                    <label for="fname">Full Name:
                        <input type="text" name="fname" id="fname" placeholder="e.g. John Oliver">
                    </label><br>
                    <label for="email">Email:
                        <input type="email" name="email" id="email" placeholder="e.g. name@email.com">
                    </label><br>
                    <label for="idnumber">ID_number:
                        <input type="number" name="idnumber" id="idnumber" placeholder="e.g. 12345678">
                    </label><br>
                    <label for="password">Password:
                        <input type="password" name="password" id="password" placeholder="pick a password">
                    </label><br>
                    <label for="repass">Re-enter password:
                        <input type="password" name="repass" id="repass" placeholder="enter password again">
                    </label><br>
                    <input style="margin-left: 150px;" type="radio" name="role">Admin
                    <input type="radio" name="role">Attendant<br>
                    <button class="discard"><span class="fa fa-times"></span></button>
                    <button type="submit" class="save"><span class="fa fa-check"></span></button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div>
                <p id="copy">&copy 2018 - <cite><em>powered by mufasaCo.</em></cite></p>
                <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-slack"></a></li>
                    <li><a href="#" class="fa fa-skype"></a></li>
                </ul>
            </div>
    </div>
    </footer>
    <script src="../static/custom.js"></script>
</body>
</html>
