<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=K2D">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>sale_record</title>
</head>
<body>
    <header>
        <div id="header-content" class="container">
            <div id="img-container"><img id="logo" src="../static/img/logo.png" alt="logo"></div>
            <nav>
                <ul>
                        <li id="home"><a href="#"><img src="../static/img/home.png" alt="home"></a></li>
                        <li id="profile"><a href="#"><img src="../static/img/profile.png" alt="profile"></a></li>
                        <li id="info"><a href="#"><img src="../static/img/info.png" alt="info"></a></li>
                        <li id="logout"><a href="#"><img src="../static/img/logout.png" alt="logout"></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <button class="back fa fa-caret-left">Back</button>
            <button class="purchase fa fa-check">Buy</button>
            <div class="table-holder">
            <table class="sales">
                <tr>
                    <th>Item name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Total cost</th>
                    <th>Delete</th>
                </tr>
                <tr>
                    <td>I phone X</td>
                    <td>5.5" display fultouch screen, 3 GB RAM, Retnal scanner, product of Apple Inc.</td>
                    <td>1</td>
                    <td>Ksh 95,000</td>
                    <td><button class="fa fa-trash delete"></button></td>
                </tr>
                <tr>
                    <td>I phone X</td>
                    <td>5.5" display fultouch screen, 3 GB RAM, Retnal scanner, product of Apple Inc.</td>
                    <td>1</td>
                    <td>Ksh 95,000</td>
                    <td><button class="fa fa-trash delete"></button></td>
                </tr>
                <tr>
                    <td>I phone X</td>
                    <td>5.5" display fultouch screen, 3 GB RAM, Retnal scanner, product of Apple Inc.</td>
                    <td>1</td>
                    <td>Ksh 95,000</td>
                    <td><button class="fa fa-trash delete"></button></td>
                </tr>
            </table>
            </div>
        </div>    
    </main>
    <footer>
        <div class="container">
            <div>
                <p id="copy">&copy 2018 - <cite><em>powered by mufasaCo.</em></cite></p>
                <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-slack"></a></li>
                    <li><a href="#" class="fa fa-skype"></a></li>
                </ul>
            </div>
    </div>
    </footer>
    <script src="../static/custom.js"></script>
</body>
</html>
